{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "main/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "main/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Parhna</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Explore</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <div class="row center">

          <div class="col s8 offset-s2">

            <div class="card">
              <div class="card-content">
                <section>
                  <span class="card-title">
                    <ul class="tabs">
                      <li class="tab col s4"><a class="active" href="#test1">Register</a></li>
                      <li class="tab col s4"><a href="#test2">Sign In</a></li>
                    </ul>
                  </span>
                  <div class="divider">

                  </div>
                </section>


                <div class="section">
                  <div class="row">
                       <form method="post" action="/accounts/register" class="col s12">
                         {% csrf_token %}
                         <div class="row">
                           <div class="input-field col s12">
                              <i class="material-icons prefix">perm_identity</i>
                             <input id="username" name="username" type="text" class="validate">
                             <label for="username">Username</label>
                           </div>
                         </div>
                         <div class="row">
                           <div class="input-field col s12">
                              <i class="material-icons prefix">vpn_key</i>
                             <input id="password" name="password" type="password" class="validate">
                             <label for="password">Password</label>
                           </div>
                         </div>
                         <div class="row">
                           <div class="input-field col s12">
                             <i class="material-icons prefix">email</i>
                             <input id="email" name="email" type="email" class="validate">
                             <label for="email">Email</label>
                           </div>
                         </div>
                         <div class="row">
                           <div class="input-field col s12 right-align">
                             <input  type="submit" name="submit" class=" btn-large waves-effect waves-light green accent-3" value="Sign Up">
                           </div>
                         </div>


                       </form>
                     </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">



    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who are we?</h5>
          <p class="grey-text text-lighten-4">We are three college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Love</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "main/js/materialize.js" %}"></script>
  <script src="{% static "main/js/init.js" %}"></script>

  </body>
</html>
