{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "main/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "main/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
  <nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Parhna</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Explore</a></li>
        <li><a href="#">Ask question</a></li>
        <li><a href="/accounts/auth">Sign In/Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center  teal-text darken-4-text">Parhna</h1>
      <div class="row center">
        <h5 class="header col s12 light">A collaborative learning platform</h5>
      </div>
      <div class="row center">
        <a href="/questions" id="download-button" class="btn-large waves-effect waves-light green accent-3">Start Learning</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">

        <div class="col s12">
          <div class="card">

            <div class="card-content" ng-app="getQuestions" ng-controller="getData">
              <section>
                <span class="card-title">
                  <ul class="tabs">
                    <li class="tab col s4"><a href="#test1">Trending</a></li>
                    <li class="tab col s4"><a class="active" href="#test2">Popular</a></li>
                    <li class="tab col s4"><a href="#test3">Latest</a></li>
                  </ul>
                </span>
              </section>




              <div class="section center loader">
                <div class="preloader-wrapper big active">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>


            <div class="collection hide">
              <section  ng-repeat="question in questions">
                {% verbatim %}
                <a href="/questions/{{question.id}}" class="collection-item">
                {% endverbatim %}
                  <div class="section">
                    <div class="valign-wrapper">
                      <div class="valign">
                        <h6 ng-bind="question.title"></h6>
                        <!-- <h6>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</h6> -->
                        </div>
                      </div>

                      <div class="chip">
                        <img src="{% static "main/images/yuna.jpg" %}" alt="Contact Person">
                        Jane Doe
                      </div>
                    </div>
                </a>
                <div class="divider">

                </div>
              </section>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who are we?</h5>
          <p class="grey-text text-lighten-4">We are three college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Love</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "main/js/materialize.js" %}"></script>
  <script src="{% static "main/js/init.js" %}"></script>

  {% verbatim %}
  <script>
  var app = angular.module('getQuestions', []);
  app.config(['$httpProvider', function($httpProvider) {
      $httpProvider.defaults.xsrfCookieName = 'csrftoken';
      $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
  }]);
  app.controller('getData', function($scope, $http) {

    $http.get("/questions/json_get")
    .then(function(response) {
        $scope.questions = response.data;
        console.log($scope.questions);
        $('div.loader').hide();
        $('div.collection').removeClass('hide');
    });
  });
  </script>
  {% endverbatim %}

  </body>
</html>
